* {
    box-sizing: border-box;
    }

    body {
        margin: 48px auto;
        font-family: sans-serif;
    }
    .single-column {
        min-width: 600px;
        max-width: 1200px;
        margin: 0px auto;
    }
    .section-2 {
        background-color: white;
        color: black;
        padding: 48px;
    }
    
    #section-2 {
    display: block;
    width: 90vw;
    max-width: 350px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
    }


    .card-style-2 {
        width: 350px;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        max-width: 350px;
        border: 1px solid roba (135, 102, 135, 0.51); border-radius: 30px;
        flex-direction: column;
        gap: 36px;
    }

    .card-style-2 img {
    width: 50%;
    object-fit: cover;

    .card-style-2 h2 {
        font-size: 18px; font-weight: bold;
        text-align: center;
        }
    }
    .card-style-2 p {
        text-align: center;
    }
        
    .animagram-footer {
        justify-content: center;
    }