* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#section-1 {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}
.card-style-1 {
    max-width: 350px;
    border-radius: 5px;
    margin: 12px;
    padding: 48px;
    box-shadow: -4px 4px 12px #494545;
    background: linear-gradient(-50deg,#e1f0e8, #dcf2d4, #eff2ef);
}

.card-style-1 img {
    width: 100%;

}

.card-style-1 a {
    background-color: rgb(13, 147, 13);
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid green;
    transition: 
     0.5s (rgb(13, 147, 13)),
        color 0.5s;
}

.card-container a:hover {
    background-color: transparent;
    color: rgb(55, 185, 55);
}

