@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
}
#main-content {
    background-color: peachpuff;
    width: 250px;
    padding: 24px;
    border-right: 3px solid navy;
}
#content h2 {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}

#content h3 {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}
#content h4 {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}

#content h5 {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}

#content h6 {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}

#content h1{
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
}
#main-content{
    flex: 1;
    padding: 48px;
}