@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Georgia, 'Times New Roman',
}
#two-columns {
    display: flex;
}

#sidebar-content-1 {
    background-color: lightblue;
    width: 300px;
    padding: 0px;
    border-width: 2px;
}

#sidebar-content-2 {
    background-color: lightblue;
    width: 300px;
    padding: 0px;
    border-width: 2px;

}

#main-content-1 {
    flex: flex;
    padding: 48px;
    background-color: peachpuff;
    width: 550px;
}


#main-content-2 {
    flex: flex;
    padding: 48px;
    background-color: rosybrown;
    width: 550px;
}

#sidebar-content-1 h1 {
    background-color: gray;
    margin: 0px;
    padding: 0px;
    color: navy;
    font-size:48px;
    font-family: 'Times New Roman', Times, serif;
}

#sidebar-content-1 h2 {
    margin: 0px;
    padding:0px;
    font-size: 20px;
}

#sidebar-content-1 h3 {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#sidebar-content-1 ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content-1 ul a {
    color: navy;
    text-decoration: none;
}

#sidebar-content-1 ul li {
    list-style-type: text-indent;
    margin-left: 12px;
    padding: 4px 0px;
}

#sidebar-content-2 ul {
    list-style-type: none;
    padding: 0px;
}

#sidebar-content-2 ul a {
    color: navy;
    text-decoration: none;
}

#sidebar-content-2 ul li {
    list-style-type: text-indent;
    margin-left: 12px;
    padding: 4px 0px;
}
 
h2 {
    font-family: 'Times New Roman';
    font-weight: bold;

}

h3 {
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
}
h4 {
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

h5 {
    font-size: 30px;
    font-family: 'Times New Roman';
    font-weight: bold;
}

#sidebar-column-1 .main-content-1{
    padding: 24px;
    border-radius: 4px;
}