@font-face {
    font-family: "forte";
    src: url(../fonts/forte.ttf);
}
@font-face {
    font-family: "caffe";
    src: url(../fonts/caffe-lungo-demo.otf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'caffe', cursive;
}
#header {
    position: sticky;
    top: 0px;
}

#navbar-1 {
    background: #737b43;
    display: flex;
    align-items: center;
}

#navbar-1 a {
    display: inline-block;
    text-decoration: none;
    color: #f4d593;
    padding: 24px;
}

#navbar-1 a:hover {
    background: linear-gradient(gray, #4b6a38);
    color: white;
}

#navbar-1 img {
    margin-right: auto;
}

.dropdown-container-1 { 
    position: relative;
}

.dropdown-menu-1 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-1 .dropdown-menu-1 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-1:hover .dropdown-menu-1 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-1 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-1 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-2 { 
    position: relative;
}

.dropdown-menu-2 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-2 .dropdown-menu-2 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-2:hover .dropdown-menu-2 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-2 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-2 .dropdown-menu-2 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-3 { 
    position: relative;
}

.dropdown-menu-3 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-3 .dropdown-menu-3 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-3:hover .dropdown-menu-3 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-3 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1.dropdown-menu-3 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-4 { 
    position: relative;
}

.dropdown-menu-4 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-4 .dropdown-menu-4 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-4:hover .dropdown-menu-4 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-4 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-4 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-5 { 
    position: relative;
}

.dropdown-menu-5 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-5 .dropdown-menu-5 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-5:hover .dropdown-menu-5 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-5 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-5 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-6 { 
    position: relative;
}

.dropdown-menu-6 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-container-6 .dropdown-menu-6 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-6:hover .dropdown-menu-6 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-1 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-6 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

#hero-container {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}

#hero-1 {
    background-image: url(../images/nonna-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;    
}

#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: rgb(85, 166, 67);
    color: rgb(247, 242, 240);
    font-weight: bold;
    text-decoration: none;
    padding: 24px;
    margin: 5vw 5vw 10vw 0px;
}

#hero-1 p {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-width: 480px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    margin: 24px;
    padding: 24px;
    gap: 24px;
    box-shadow: -4px 4px 12px #2e5b2e;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover  ;
    border-radius: 12px;
}

.card a {
    text-decoration: none;
    color: black;
    display: block;
    border: 3px solid rgb(69, 205, 69);
    margin-top: 36px;
    padding: 24px;
}

#card-1 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#card-1:hover a {
    background-color: rgb(148, 255, 148);
    box-shadow: 8px 8px 8px rgb(140, 214, 94);
    transform: translateY(-4px);
}


#card-2 a {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#card-2 a {
    background-color: rgb(84, 192, 84);
    box-shadow: 8px 8px 8px rgb(140, 214, 94);
    transform: translateY(-4px);
}

#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}

.card-m {
    width: 350px;
    border: 3px solid rgb(69, 205, 69); 
    border-radius: 12px;
    padding: 10px;
    box-shadow: -4px 4px 12px gray;
    background-color: rgb(215, 241, 215);
    text-align: center;
}

.card-m img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.card-m h1 {
    font-size: 36px;
    margin-top: 12px;
    font-family: forte;
}

.card-m p {
    font-size: 18px;
    font-family: caffe;
}

.card-m a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #4b6a38;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-m a:hover {
    background-color: transparent;
    color: lightgray;
}

.card-d {
    width: 350px;
    border: 3px solid rgb(69, 205, 69); 
    border-radius: 12px;
    padding: 10px;
    box-shadow: -4px 4px 12px gray;
    background-color: rgb(215, 241, 215);
    text-align: center;
}


.card-d img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
}

.card-d h1 {
    font-size: 36px;
    margin-top: 12px;
    font-family: forte;
}

.card-d p {
    font-size: 18px;
    font-family: caffe;
}

.card-d a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #4b6a38;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-d a:hover {
    background-color: transparent;
    color: lightgray;
}





@media screen and (max-width: 480px) {  
    body {
        background-color: white;
    }
}


