@font-face {
    font-family: "forte";
    src: url(../fonts/forte.ttf);
}
@font-face {
    font-family: "caffe";
    src: url(../fonts/caffe-lungo-demo.otf);
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: 'caffe', cursive;
}
#header {
    position: sticky;
    top: 0px;
}

#navbar-1 {
    background: #737b43;
    display: flex;
    align-items: center;
}

#navbar-1 a {
    display: inline-block;
    text-decoration: none;
    color: #f4d593;
    padding: 24px;
}

#navbar-1 a:hover {
    background: linear-gradient(gray, #4b6a38);
    color: white;
}

#navbar-1 img {
    margin-right: auto; 
}

.dropdown-container-1 { 
    position: relative;
}

.dropdown-menu-1 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-1 .dropdown-menu-1 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-1:hover .dropdown-menu-1 {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu-1 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-1 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-2 { 
    position: relative;
}

.dropdown-menu-2 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-2 .dropdown-menu-2 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-2:hover .dropdown-menu-2 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-2 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-2 .dropdown-menu-2 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-3 { 
    position: relative;
}

.dropdown-menu-3 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-3 .dropdown-menu-3 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-3:hover .dropdown-menu-3 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-3 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1.dropdown-menu-3 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-4 { 
    position: relative;
}

.dropdown-menu-4 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-4 .dropdown-menu-4 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-4:hover .dropdown-menu-4 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-4 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-4 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-5 { 
    position: relative;
}

.dropdown-menu-5 {
    position: absolute;
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-menu-5 .dropdown-menu-5 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-5:hover .dropdown-menu-5 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-5 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-5 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}

.dropdown-container-6 { 
    position: relative;
}

.dropdown-menu-6 {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visability 0.25s;
}

.dropdown-container-6 .dropdown-menu-6 {
    position: absolute;
    background-color: rgb(185, 207, 226);
    opacity: 0;
    background-color: #4b6a38;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visbility 0.25s;
}

.dropdown-container-6:hover .dropdown-menu-6 {
    opacity: 1;
    visibility: visible;
}


.dropdown-menu-1 a {
    background-color: linear-gradient(to top, gray, #4b6a38);
    width: 100%;
    min-width: 200px;
}

#navbar-1 .dropdown-menu-6 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
}








#hero-1 {
    background-image: url(../images/nonna-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:flex-end;    
}



#hero-1 a {
    font-size: 1.5vw;
    display: inline-block;
    font-weight: bold;
    background-color: #737b43;
    color: #f4d593;
    font-weight: bold;
    text-decoration: none;
    padding: 24px 48px;
    margin: 5vw 5vw 10vw 0px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

#hero-1 a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
    color:#f4d593;
}

#hero-1 p {
    background-color: #f4d593;
    color:#2e5b2e;
    padding: 24px;
    margin: 0px auto;
    font-size: 2vw;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}




.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
   
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}

#main-section {
    background-color: #f4d593;
    color: #4b6a38;
    padding: 48px;
}


.side-by-side h1 {
    font-family: forte;
    color: #737b43;
}

.side-by-side .text-container a {
    font-size: 1.5vw;
    display: inline-block;
    font-weight: bold;
    background-color: #737b43;
    color: #f4d593;
    font-weight: bold;
    text-decoration: none;
    padding: 24px 48px;
    margin: 5vw 5vw 10vw 0px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.side-by-side .text-container a:hover {
    background: linear-gradient(to top, gray, #4b6a38);   
    color:#f4d593;
}


.side-by-side .image-container {
    align-items: center;
    flex: 1;
}

.side-by-side .text-container {
   flex: 1;
   padding: 36px;
   align-items: center;
}

.side-by-side .image-container img {
    width: 100%;
    border-radius: 12px;
}





#centered-column {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
    justify-content: center;
}


.card-md {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-md h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-md h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-md img { 
    border-radius: 12px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-md a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-md a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-m {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-m h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-m h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-m img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-m p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-m a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-m a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-ad {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-ad h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-ad h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-ad img { 
    border-radius: 12px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}


.card-ad a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-ad a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-a {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-a h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-a h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-a img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-a p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-a a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-a a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-sd {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-sd h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-sd h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-sd img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-ad p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-sd a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-sd a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-s {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-s h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-s h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-s img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-s p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-s a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-s a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-ds {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-ds h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-ds h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-ds img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-s p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-ds a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-ds a:hover {
    background-color: transparent;
    color: #f4d593;
    
}

.card-d {
    width: 350px;
    border: 6px solid rgb(69, 172, 69);
    padding: 10px;
    box-shadow: -4px 4px 12px lightgray;
    border-radius: 12px;
    text-align: center;
    background-color: rgb(215, 241, 215);
    display: flex;
    flex-direction: column;
}

.card-d h1 {
    font-family: "forte";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-d h2 {
    font-family: "caffe";
    margin-top: 12px;
    font-size: 36px;
    padding: auto;
    text-align: center;
}

.card-d img { 
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-d p {
    font-family: caffe;
    font-size: 20px;
    text-align: center;

}

.card-d a {
    text-decoration: none;
    color: #f4d593;
    font-family: caffe;
    font-size: 20px;
    font-weight: bold;
    background-color: #737b43;;
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 3px solid rgb(69, 205, 69);
    padding: 10px;
    transition: 
        background-color 0.5s,
        transform 0.5s;
}

.card-a a:hover {
    background-color: transparent;
    color: #f4d593;
    
}




#footer {
    background: #f4d593;
    padding: 12px;
}

#footer a {
    text-decoration: none;
    color: #737b43;
}

#footer-columns-navbar {
    width: 800px;
    margin: 0px auto;
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
}

#footer-columns-navbar a {
    display: block;
    padding: 8px 0px;

}

.copyright, p {
    text-align: center;

}

@media screen and (max-width: 768px ) and (min-width: 480px) {  
    body {
        background-color: #737b43;
    }
}

#navbar-1 {
    flex-direction: grid;
    align-items: center;
    font-size: 15px;
    width: 80%;
    margin: auto;
}