* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: aquamarine;
    color: purple;
    font-family:sans-serif;
}
#three-colums {
    display: grid ;
}

#grid-layout {
    display: grid;
    margin-top: 36px;
    grid-template-columns: 1fr 550px 200px 1fr;
    grid-template-areas: "column-1 column-2 column-3";
}

#sidebar-column-1 ul,
#sidebar-column-2 ul{
    list-style-type: none;
    padding: 0px;
}

#sidebar-column-1 ul li,
#sidebar-column-2 ul li {
    list-style-type: none;
    padding: 4px 0px;
}

#sidebar-column-1 ul li,
#sidebar-column-2 ul li {
    list-style-type: none;
    padding: 4px 0px;
}

#sidebar-column-2 ul li a {
    color: #eeeeee;
    text-decoration: none;
    text-align: center;


}

#sidebar-column-1 {
    margin-left: 24px;
    grid-area: left-sidebar;
}

#primary-column .inner-content {
    background-color: hotpink;
    padding: 24px;
    border-radius: 24px;
    max-width: 400px;
    margin: 0px auto;
}

#sidebar-column-2 .inner-content,
#sidebar-column-3 .inner-content {
    display:grid;
    border-radius: 4px;
    text-decoration: none;
    background-color: rgb(245, 199, 187);
    color: #aa43a7;
    display:block;
    padding: 12px;
    border-radius: 12px;
}

h1 {
    color: white;
    background-color: rgb(128, 47, 166);
    padding: 4px;
    border-radius: 8px;
}

h2 {
    color: white;
    background-color: rgb(128, 47, 166);
    padding: 4px;
    border-radius: 8px;
}
h3 {
    color: white;
    background-color: rgb(128, 47, 166);
    padding: 4px;
    border-radius: 8px;
}

h4 {
    color: white;
    background-color: hotpink;
    padding: 4px;
    border-radius: 8px;
}

h5 {
    color: white;
    background-color: rgb(128, 47, 166);
    padding: 4px;
    border-radius: 8px;
    text-align: center;
}
h6 {
    color: white;
    background-color: rgb(128 47, 166);
    padding: 4px;
    border-radius: 8px;
    text-align: center;
}

h7 {
    color: white;
    background-color: hotpink;
    padding: 4px;
    border-radius: 8px;
}

#sidebar ul a:hover {
    background-color: #ebdcee;
    border-radius: 12px;
}


#m1 .thumbnail {
    background-image: url(../images/download.jpg);
    background-size: cover;
}