/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
    .vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 24px;
    border-radius: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.tekhelet{ 
    background-color: #5d2e9c;
    border-color: #5d2e9c;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.vanilla{
    background-color: #f1e8b8;
    border-color: #f1e8b8;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.bittersweet{
    background-color:#ff6666;
    border-color: #ff6666;
}
.tetris-block{
    padding: 20px;
    border-width: 5px;
    border-style:outset;
    display:inline-block;
}
.greenyellow{
    background-color: #ccff66;
    border-color:#ccff66;
}